#Peer-graded Assignment: Build a Regression Model in Keras - Part D (Increase Hidden layer, 50 epochs)

In [1]:
#Import all the necessary library
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ('https://cocl.us/concrete_data')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
#Check id any null in this dataset
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
#Split data into predictor and target
df_cols=df.columns
predictor = df[df_cols[df_cols != 'Strength']] # exclude 'Strength' Column
target = df['Strength']

In [7]:
#checking both predicator and target dataframes
predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
#Normalise predicator data
predictor_norm = (predictor - predictor.mean()) / predictor.std()
predictor_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
##Normalise target data
target_norm = (target-target.mean())/target.std()
target_norm.head()

0    2.644123
1    1.560663
2    0.266498
3    0.313188
4    0.507732
Name: Strength, dtype: float64

In [11]:
 # number of predictors
n_cols = predictor_norm.shape[1]

In [13]:
#import keras library
import keras

In [15]:
#import the rest of library
from keras.models import Sequential
from keras.layers import Dense

# Increase 3 hidden layer

In [16]:
#Build a Neural Nets function - regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [17]:
#Split train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictor_norm, target_norm, test_size=0.3, random_state=30)

In [18]:
#Build the model
model = regression_model()

In [19]:
#fit the model
epochs_num=50
model.fit(X_train, y_train, epochs=epochs_num, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 454us/step - loss: 0.9019
Epoch 2/50
721/721 [==============================] - 0s 168us/step - loss: 0.8138
Epoch 3/50
721/721 [==============================] - 0s 172us/step - loss: 0.7336
Epoch 4/50
721/721 [==============================] - 0s 163us/step - loss: 0.6690
Epoch 5/50
721/721 [==============================] - 0s 167us/step - loss: 0.6241
Epoch 6/50
721/721 [==============================] - 0s 164us/step - loss: 0.5767
Epoch 7/50
721/721 [==============================] - 0s 170us/step - loss: 0.5337
Epoch 8/50
721/721 [==============================] - 0s 145us/step - loss: 0.4861
Epoch 9/50
721/721 [==============================] - 0s 166us/step - loss: 0.4434
Epoch 10/50
721/721 [==============================] - 0s 165us/step - loss: 0.4092
Epoch 11/50
721/721 [==============================] - 0s 164us/step - loss: 0.3778
Epoch 12/50
721/721 [==============================] - 0s 167us/step - loss: 0.3490
Epoch 13/50
721/721 [==============================] - 0s 165us/step - loss: 0.3275
Epoch 14/50
721/721 [==============================] - 0s 189us/step - loss: 0.3069
Epoch 15/50
721/721 [==============================] - 0s 165us/step - loss: 0.2878
Epoch 16/50
721/721 [==============================] - 0s 170us/step - loss: 0.2795
Epoch 17/50
721/721 [==============================] - 0s 166us/step - loss: 0.2667
Epoch 18/50
721/721 [==============================] - 0s 167us/step - loss: 0.2542
Epoch 19/50
721/721 [==============================] - 0s 167us/step - loss: 0.2484
Epoch 20/50
721/721 [==============================] - 0s 169us/step - loss: 0.2348
Epoch 21/50
721/721 [==============================] - 0s 165us/step - loss: 0.2285
Epoch 22/50
721/721 [==============================] - 0s 165us/step - loss: 0.2214
Epoch 23/50
721/721 [==============================] - 0s 164us/step - loss: 0.2145
Epoch 24/50
721/721 [==============================] - 0s 167us/step - loss: 0.2097
Epoch 25/50
721/721 [==============================] - 0s 163us/step - loss: 0.2019
Epoch 26/50
721/721 [==============================] - 0s 171us/step - loss: 0.1978
Epoch 27/50
721/721 [==============================] - 0s 164us/step - loss: 0.1938
Epoch 28/50
721/721 [==============================] - 0s 167us/step - loss: 0.1888
Epoch 29/50
721/721 [==============================] - 0s 165us/step - loss: 0.1853
Epoch 30/50
721/721 [==============================] - 0s 163us/step - loss: 0.1811
Epoch 31/50
721/721 [==============================] - 0s 167us/step - loss: 0.1794
Epoch 32/50
721/721 [==============================] - 0s 164us/step - loss: 0.1750
Epoch 33/50
721/721 [==============================] - 0s 166us/step - loss: 0.1730
Epoch 34/50
721/721 [==============================] - 0s 167us/step - loss: 0.1730
Epoch 35/50
721/721 [==============================] - 0s 165us/step - loss: 0.1699
Epoch 36/50
721/721 [==============================] - 0s 188us/step - loss: 0.1676
Epoch 37/50
721/721 [==============================] - 0s 145us/step - loss: 0.1669
Epoch 38/50
721/721 [==============================] - 0s 146us/step - loss: 0.1637
Epoch 39/50
721/721 [==============================] - 0s 166us/step - loss: 0.1611
Epoch 40/50
721/721 [==============================] - 0s 169us/step - loss: 0.1602
Epoch 41/50
721/721 [==============================] - 0s 163us/step - loss: 0.1585
Epoch 42/50
721/721 [==============================] - 0s 165us/step - loss: 0.1548
Epoch 43/50
721/721 [==============================] - 0s 168us/step - loss: 0.1552
Epoch 44/50
721/721 [==============================] - 0s 165us/step - loss: 0.1536
Epoch 45/50
721/721 [==============================] - 0s 168us/step - loss: 0.1546
Epoch 46/50
721/721 [==============================] - 0s 165us/step - loss: 0.1520
Epoch 47/50
721/721 [==============================] - 0s 165us/step - loss: 0.1502
Epoch 48/50
721/721 [==============================] - 0s 165us/step - loss: 0.1512
Epoch 49/50
721/721 [==============================] - 0s 166us/step - loss: 0.1543
Epoch 50/50
721/721 [==============================] - 0s 165us/step - loss: 0.1491

In [20]:
loss_val = model.evaluate(X_test, y_test,verbose=1)
y_pred = model.predict(X_test)

309/309 [==============================] - 0s 102us/step

In [21]:
loss_val

0.21676085373344545

In [22]:
from sklearn.metrics import mean_squared_error

mean_sqError = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_sqError)
std_deviation = np.std(mean_sqError)
print("The Mean is {} and the standard deviation is {}".format(mean, std_deviation))

The Mean is 0.21676085035624354 and the standard deviation is 0.0

In [23]:
#set number or repeat for mean squared errors
repeat = 50
mean_sqError_list=list()

for i in range (0, repeat):
    X_train, X_test, y_train, y_test = train_test_split(predictor_norm, target_norm, test_size=0.3, random_state=30)
    model.fit(X_train, y_train, validation_split=0.3, epochs=epochs_num, verbose=0) #verbose 0, to skip all progress verbose
    loss = model.evaluate(X_test, y_test, verbose=0)
    print("loss-{} of {}>>  {}".format(i+1,repeat,loss))
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mean_sqError_list.append(mse)

loss-1 of 50>>  0.18770701435777362
loss-2 of 50>>  0.18514823629053664
loss-3 of 50>>  0.1828868515958292
loss-4 of 50>>  0.1777834318891698
loss-5 of 50>>  0.17191052658658199
loss-6 of 50>>  0.17919444584537864
loss-7 of 50>>  0.19135185690373666
loss-8 of 50>>  0.20206439929101075
loss-9 of 50>>  0.20864571510395186
loss-10 of 50>>  0.1938775101236541
loss-11 of 50>>  0.20367962700649372
loss-12 of 50>>  0.1932767233223591
loss-13 of 50>>  0.19884784461803806
loss-14 of 50>>  0.20834085422426366
loss-15 of 50>>  0.20729841846478408
loss-16 of 50>>  0.20163853683517974
loss-17 of 50>>  0.20450952706985104
loss-18 of 50>>  0.2059426331790134
loss-19 of 50>>  0.20662195339172018
loss-20 of 50>>  0.20726621541583423
loss-21 of 50>>  0.2085028196712142
loss-22 of 50>>  0.2060416856822844
loss-23 of 50>>  0.20400551241192616
loss-24 of 50>>  0.2065667344624942
loss-25 of 50>>  0.20712568999108374
loss-26 of 50>>  0.20640196730789628
loss-27 of 50>>  0.2050936247635042
loss-28 of 50>>  0.20545838691270082
loss-29 of 50>>  0.20464815479073323
loss-30 of 50>>  0.20967728729001142
loss-31 of 50>>  0.203718976536615
loss-32 of 50>>  0.20873564771078165
loss-33 of 50>>  0.2047888143259345
loss-34 of 50>>  0.21292631328105927
loss-35 of 50>>  0.2101888980198061
loss-36 of 50>>  0.2116363052893611
loss-37 of 50>>  0.2156860731952013
loss-38 of 50>>  0.21810034539514375
loss-39 of 50>>  0.21919832921143875
loss-40 of 50>>  0.22697391739555162
loss-41 of 50>>  0.22312236917250364
loss-42 of 50>>  0.22269731972209844
loss-43 of 50>>  0.22306290283365157
loss-44 of 50>>  0.22722852326519666
loss-45 of 50>>  0.22734069351625288
loss-46 of 50>>  0.22771428742455047
loss-47 of 50>>  0.22314376241759576
loss-48 of 50>>  0.2268237760923441
loss-49 of 50>>  0.23538310647396593
loss-50 of 50>>  0.2227371661022643

In [24]:
mean_sqError_list = np.array(mean_sqError_list)
mean_mse = np.mean(mean_sqError_list)
std_deviation_mse = np.std(mean_sqError_list)

print("After " +str(repeat) + " epochs, normalised data (50 epochs) of mean squared errors: ")
print("Mean of the mean squared errors:: "+str(mean_mse))
print("Standard Deviation  of the mean squared errors: "+str(std_deviation_mse))

After 50 epochs, normalised data (50 epochs) of mean squared errors:
Mean of the mean squared errors:: 0.20745443577416292
Standard Deviation  of the mean squared errors: 0.013866145176820244

Conclusion: (Step C) Adding 3 hidden layer with normalised data:
# Not so significant, but seems worse than Step B

#Previous normalised data result (Step B):

#Mean of the mean squared errors: 0.16376717097468826

#Standard Deviation  of the mean squared errors: 0.03469896468875844